/* src/pages/Login.css */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

.login-card {
  background-color: white;
  padding: 2.5rem 2rem;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.login-card h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.login-card p {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #555;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #444;
  border: 1px solid #ddd;
  padding: 0.75rem 1.2rem;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.google-btn:hover {
  background-color: #f1f1f1;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
